<IfModule mod_rewrite.c>
   RewriteEngine on
   
   RewriteCond %{HTTP_HOST} ^savilerowsociety.com$
   RewriteRule (.*) http://www.savilerowsociety.com/$1 [R=301,L] 
   RewriteRule   ^(development).* - [NC,L]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
   
   #force https for certain pages    
   RewriteCond %{HTTPS} !=on
   RewriteRule ^(cart|payment|confirmation)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R]
</IfModule>