
body{ margin: 0px; padding: 0px; font-size: 14px; color: #000; }


a{ border: none; outline: none; }

span.golden-heading{color:#b6a166;}
input.input-post{width:80%; margin-top:30px; border:1px solid #999; }
input.post-submit{width:19%%; background:#c2c2c2; height:33px; margin-top:30px; color:#000;}
.product-content{width:100%; height:auto; float:left; }
.text-content{float:left; width:100%; height:auto; text-align:left; }
ul.two-column{margin:0px; padding:0px; list-style: none; float:left; width:100%;}
ul.two-column li{width:48.5%; height:auto; margin:0 3% 0 0; float:left; }
ul.two-column li:last-child{width:48.5%; height:auto; margin:0px !important; float:left; }
.left_box{width:280px; height:auto; float:left;}
.right_box{width:100px; height:150px; float:right; background: red;}
.box1{width:280px; height:375px; float:left; background: #6986bf; margin-bottom:15px;}
.box2{width:134px; height:183px; float:left; background: #6986bf;}
.box3{width:134px; height:183px; float:right; background: #6986bf;}
.box4{width:202px; height:279px; float:right; background: #6986bf;margin-bottom:15px;}
.box5{width:202px; height:279px; float:right; background: #6986bf;}
.TextReplaceByImage{ border: none; text-indent: -9999px; }
.container_wrapper{ width: 100%; margin: 0px; padding: 0px; font-size: 0; background: #fff; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;}
.center_row{ width: 1024px; margin: 0px auto; }
#header_wrapper > .center_row{ width: 100%; padding: 0 4%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }


#header_wrapper{ width: 100%; margin: 0px auto 10px; padding: 0px; border-bottom: 2px solid #E8E8E8; position: fixed; z-index: 2000; background: #fff; top: 0; } 
.banner_wrapper{ width: 100%; margin: 0px auto; padding: 0px; }
.top_outfits_wrapper{ width: 100%; margin: 0px auto; padding: 0px; }

/* ==== Header ==== */
.promotionalBar{ font-family: 'Proximanova'; width: 100%; margin: 0px 0px 10px; padding: 0px; display: inline-block; vertical-align: top; height: 33px; background: #5f5d5e; color: #fff; font-size: 16px; text-align: center; line-height: 33px; }
.promotionalBar a{ color: #ff5959; padding: 0 0 0 3px; display: inline-block; vertical-align: top; outline: none; }
.logo_details{ width: 200px; display: inline-block; vertical-align: top; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear;}

.nav_wrapper{ display: inline-block; vertical-align: top; margin: 15px 30px 0px 0px; padding: 0px; float: right; }
.nav_wrapper ul{ margin: 0px; padding: 0px; }
.nav_wrapper ul li{ font-family: 'Open sans'; list-style-type: none; display: inline-block; vertical-align: top; margin: 0px; padding: 0px 10px; font-size: 16px; outline: none; text-transform: uppercase; color: #333; }
.nav_wrapper ul li a{ text-decoration: none; color: #000; outline: none; }
.nav_wrapper ul li a:hover{ text-decoration: none; color: #000; outline:no ne; }

.top_icons{ margin: 12px 0px 0px; padding: 0px; display: inline-block; vertical-align: top; float: right; position: relative; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.top_icons ul{ margin: 0px 30px 0px 0px; padding: 0px; display: inline-block; vertical-align: top; }
.top_icons ul.last{ margin: 0px; }
.top_icons ul li{ list-style-type: none; display: inline-block; vertical-align: top; margin: 0px; padding: 0px 7px; }
.top_icons ul li:last-child{ margin-right: 0px; }
.top_icons ul li a{ font-size: 0px; display: inline-block; vertical-align: top; background: url(../img/home/icon_sprit.jpg) no-repeat; width: 22px; height: 25px; text-indent: -999999px; }
.top_icons ul li a.facebook{ background-position: 0 -26px; }
.top_icons ul li a.twitter{ background-position: 0 -51px; width: 24px; }
.top_icons ul li a.notifications{ background-position: 0 -78px; width: 31px; height: 30px; }
.top_icons ul li a.cart{ background-position: 0 -112px; height: 29px; width: 31px; }
.top_icons ul li a.my-account{ background-position: 0 -144px; height: 30px; width: 28px; }
.top_icons ul li a:hover{ text-decoration: none; }

/*.flexslider .slides > li.slide_second > span{ text-align: left; }*/
.flexslider .slides > li.slide_second > span > .heading{ text-transform: uppercase; text-align: left; }
.flexslider .slides > li.slide_second > span > p{ text-align: left; }
.flexslider .slides > li.GetSocial > span > .heading{ text-transform: uppercase; }
.flexslider .slides > li.GetSocial > span ul{ margin: 30px 0px 0px; padding: 0px; }
.flexslider .slides > li.GetSocial > span ul li{ margin: 0; padding: 0px; display: inline-block; vertical-align: top; } 
.flexslider .slides > li.GetSocial > span ul li a{ display: inline-block; vertical-align: top; padding: 0 15px 0 0; margin: 0 0 10px; font-size: 16px; letter-spacing: 1px; color: #fff; width: 100%; height: 50px; text-transform: inherit; text-align: center; border: none; line-height: 105px; box-shadow: none; font-family: 'ProximaNovaCond-Regular'; } 
.flexslider .slides > li.GetSocial > span ul li a.instagram{ background: url(../img/home/slider_instagram.png) no-repeat center top; }
.flexslider .slides > li.GetSocial > span ul li a:hover.instagram{ background: url(../img/home/slider_instagram_hover.png) no-repeat center top; }
.flexslider .slides > li.GetSocial > span ul li a.facebook{ background: url(../img/home/slider_facebook.png) no-repeat center top; }
.flexslider .slides > li.GetSocial > span ul li a:hover.facebook{ background: url(../img/home/slider_facebook_hover.png) no-repeat center top; }
.flexslider .slides > li.GetSocial > span ul li a.twitter{ background: url(../img/home/slider_twitter.png) no-repeat center top; }
.flexslider .slides > li.GetSocial > span ul li a:hover.twitter{ background: url(../img/home/slider_twitter_hover.png) no-repeat center top; }
.flexslider .slides > li.GetSocial > span ul li a:hover{ color: #b9a66b; }


.flexslider .slides > li.GetSocial > span{ padding: 30px 0px 50px; }
.flexslider .slides > li > span{ position: absolute; top: 10%; text-align: center !important; background: rgba(0, 0, 0, 0.5); display: inline-block; margin: 0 auto; padding: 30px 20px 55px; width: 70%; left: 0; right: 0; -webkit-box-sizing: border-box; float: none; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; vertical-align: top; } 
.flexslider .slides > li > span div.heading{ font-size: 31px; font-weight: normal; margin: 0 0 10px; color: #fff; padding: 0; font-family: 'Open sans'; line-height: normal; }
.flexslider .slides > li > span p{ color: #fff; font-size: 19px; line-height: 30px; margin: 0px 0 10px; padding: 0; }
.flexslider .slides > li > span p.cutOff{ text-decoration: line-through; line-height: normal; margin: 15px 0px 30px; }
.flexslider .slides > li > span a{ outline: none; display: inline-block; vertical-align: top; margin: 0 10px; padding: 15px 30px 15px 30px; text-align: center; color: #fff; text-decoration: none; box-shadow: #333 0 0 3px; text-transform: uppercase; font-size: 17px; background: rgba(255,255,255, 0.3); line-height: normal; } 
.flexslider .slides > li > span a.getStarted{ background: #b5a069; }


#banner_wrapper{ width: 65%; border-right: 1px solid #fff; display: inline-block; vertical-align: top; margin: 98px 0 20px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

.rightImages{ margin: 98px 0 0; padding: 0px; display: inline-block; vertical-align: top; width: 35%; min-height: 100px; float: right; }
.rightImages a{ text-align: center; font-family: "Open Sans"; font-size: 20px; text-transform: uppercase; color: #fff; display: block; margin: 0px 0px ; padding: 0px; position: relative; width: 100%; overflow: hidden; border-bottom: 1px solid #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.rightImages a:after{position: absolute; top:0; left: 0; height: 100%; width:100%; background: red;}
.rightImages a > span{width: 100%; height: 100%; display: block; -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
.rightImages a span.col-text{ padding: 15px; }
.rightImages a:hover > span{background: rgba(0,0,0,0.5);}
.rightImages a:hover span.col-text{ border: 1px solid #fff; }
.rightImages a:last-child{border: none;}
.rightImages a img{ display: block; vertical-align: top; margin: 0px; padding: 0px; width: 100%; }

.rightImages a.looksByOccasion{ background: url(../img/home/img1.jpg) no-repeat top center; background-size: cover;  }

.rightImages a.shopByItems{ background: url(../img/home/img2.jpg) no-repeat top center; background-size: cover;  }

.rightImages a.shopMen{ background: url(../img/home/img3.jpg) no-repeat top center; background-size: cover;  }


/*.scrollbar_comment{ width: 100%; height: 99px; background-color: #fff; margin: 0 0 10px; overflow-y: scroll; overflow-x: hidden; } 

#ex3::-webkit-scrollbar{ width: 11px; background-color: #fff; } 
#ex3::-moz-scrollbar{ width: 11px; background-color: #fff; } 
#ex3::-ms-scrollbar{ width: 11px; background-color: #fff; }
#ex3::-o-scrollbar{ width: 11px; background-color: #fff; } 

#ex3::-webkit-scrollbar-thumb{ background-color: #d9d9d5; border-radius: 10px; }
#ex3::-moz-scrollbar-thumb{ background-color: #d9d9d5; border-radius: 10px; }
#ex3::-ms-scrollbar-thumb{ background-color: #d9d9d5; border-radius: 10px; }
#ex3::-o-scrollbar-thumb{ background-color: #d9d9d5; border-radius: 10px; }

#ex3::-webkit-scrollbar-thumb:hover{ background-color:#cdcdcd; border:1px solid #cdcdcd; }
#ex3::-moz-scrollbar-thumb:hover{ background-color:#cdcdcd; border:1px solid #cdcdcd; }
#ex3::-ms-scrollbar-thumb:hover{ background-color:#cdcdcd; border:1px solid #cdcdcd; }
#ex3::-o-scrollbar-thumb:hover{ background-color:#cdcdcd; border:1px solid #cdcdcd; }

#ex3::-webkit-scrollbar-thumb:active{ background-color:#cdcdcd; border:1px solid #cdcdcd; }  
#ex3::-moz-scrollbar-thumb:active{ background-color:#cdcdcd; border:1px solid #cdcdcd; } 
#ex3::-ms-scrollbar-thumb:active{ background-color:#cdcdcd; border:1px solid #cdcdcd; } 
#ex3::-o-scrollbar-thumb:active{ background-color:#cdcdcd; border:1px solid #cdcdcd; } 

#ex3::-webkit-scrollbar-track{ border: 1px #d9d9d5 solid; border-radius: 10px; -webkit-box-shadow: 0 0 6px #d9d9d5 inset; -moz-box-shadow: 0 0 6px #d9d9d5 inset; -ms-box-shadow: 0 0 6px #d9d9d5 inset; -o-box-shadow: 0 0 6px #d9d9d5 inset; -webkit-box-shadow: 0 0 6px #d9d9d5 inset; }
#ex3::-moz-scrollbar-track{ border: 1px #d9d9d5 solid; border-radius: 10px; -webkit-box-shadow: 0 0 6px #d9d9d5 inset; -moz-box-shadow: 0 0 6px #d9d9d5 inset; -ms-box-shadow: 0 0 6px #d9d9d5 inset; -o-box-shadow: 0 0 6px #d9d9d5 inset; -webkit-box-shadow: 0 0 6px #d9d9d5 inset; } 
#ex3::-ms-scrollbar-track{ border: 1px #d9d9d5 solid; border-radius: 10px; -webkit-box-shadow: 0 0 6px #d9d9d5 inset; -moz-box-shadow: 0 0 6px #d9d9d5 inset; -ms-box-shadow: 0 0 6px #d9d9d5 inset; -o-box-shadow: 0 0 6px #d9d9d5 inset; -webkit-box-shadow: 0 0 6px #d9d9d5 inset; }
#ex3::-o-scrollbar-track{ border: 1px #d9d9d5 solid; border-radius: 10px; -webkit-box-shadow: 0 0 6px #d9d9d5 inset; -moz-box-shadow: 0 0 6px #d9d9d5 inset; -ms-box-shadow: 0 0 6px #d9d9d5 inset; -o-box-shadow: 0 0 6px #d9d9d5 inset; -webkit-box-shadow: 0 0 6px #d9d9d5 inset; }

*/

.cnf_email_btn{ background: #ccbd94; color: #fff; padding: 10px; display: inline-block; vertical-align: top; } 



.hover_section{ display: none; position: absolute; top: 0; left: 0; width: 100%; }

#top_outfits_wrapper{ width: 100%; margin: 0px 0 30px; padding: 0px; clear: both; text-align: center; }
#top_outfits_wrapper .column{ /*border: 5px solid #fcfcfc;*/ background: #fff; width: 30%; display: inline-block; vertical-align: top; margin: 0px 3% 0 0; padding: 0px; font-size: 15px; text-align: center; }
#top_outfits_wrapper .column .heading_wrapper{display: inline-block; vertical-align: top; margin: 0px; padding: 0px; width: 100%; text-align: center; }
#top_outfits_wrapper .column .heading_wrapper span{ font-family: 'Open sans'; position: relative; top: -9px; width: auto; font-size: 16px; margin: 0 auto; text-align: center; color: #000000; text-transform: uppercase; padding: 0px; } 
#top_outfits_wrapper .column.last{ margin: 0px; }

.product_placeholder{ display: inline-block; vertical-align: top; margin: 0px 0px 10px; padding: 0px; }
.product_placeholder ul{ margin: 0px; padding: 0px; }
.product_placeholder ul li{ list-style-type: none; display: inline-block; vertical-align: top; width: 45%; height: 128px; margin: 0px 0px 10px; padding: 0px; position: relative; }
.product_placeholder ul li a{ width: 100%; display: inline-block; vertical-align: top; margin: 0px; padding: 0px; height: 100%; position: relative; }
.product_placeholder ul li a img{ background: #000; border: none; margin: 0px; padding: 0px; display: inline-block; vertical-align: top; height: 100%; }
.product_placeholder ul li a span.hover_part{ display: none; background: rgba(0, 0, 0, 0.6); position: absolute; left: 0; color: #fff; width: 100%; text-align: center; height: 100%; line-height: 128px; top: 0; }
.product_placeholder ul li a:hover span.hover_part{ display: table; }
.product_placeholder ul li a:hover span.hover_part span{ display: table-cell; vertical-align: middle; line-height: normal; }
/*.slick-slide h3 a .hover_part{ display: none; background: rgba(0, 0, 0, 0.6); position: absolute; left: 0; top: 0; color: #fff; width: 100%; text-align: center; height: 100%; font-size: 18px; }*/
.slick-slide h3 a .hover_part{ display: none; background: rgba(0, 0, 0, 0.6); position: absolute; left: 5px; top: 5px; color: #fff; width: 95%; text-align: center; height: 95%; font-size: 18px; } 
.slick-slide h3 a .hover_part a{ width: 96%; border: 1px solid #fff; display: inline-block; vertical-align: top; margin: 0px; padding: 0px; }


.author_name{ float: left; font-size: 14px; color: #000; width: 100%; margin: 7px 10px 0 0; padding: 0px; vertical-align: top; display: inline-block; font-weight: bold; text-align: center; }
.author_name .designer_name{ font-size: 16px; line-height: normal; text-align: center; width: 100%; margin: 5px 0px; padding: 0px; font-weight: normal; font-style: normal; font-family: 'Open sans'; }
.author_name a{ display: inline-block; vertical-align: top; border: 2px solid #ccc; width: 43px; border-radius: 70%; height: 43px; }
.author_name a img{ display: inline-block; width: 100%; height: 100%; border-radius: 100%; }
.author_name > span{ color: #ae9b73; }

.btn_shop_this_outfits{ display: inline-block; vertical-align: top; margin: 10px 0 0 0; padding: 8px 0px; width: 100%; background: #b69d67; font-size: 14px; line-height: normal; color: #000 !important; text-transform: uppercase; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

.message_icon_wrapper{ margin: 0px 0px 0px 9px; padding: 0px; float: left; text-align: left; display: inline-block; vertical-align: top; width: 100%; }
.message_icon_wrapper a{ width: 8%; display: inline-block; }
.message_icon_wrapper a img{ width: 100%; display: inline-block; }
.message_icon_wrapper span{ color: #ae9b73; display: inline-block; vertical-align: top; margin: 0px 0px 0px 3px; padding: 0px; line-height: normal; font-weight: bold; }

.recent_comments_wrapper{ display: inline-block; vertical-align: top; margin: 5px 0px 0px; padding: 10px 0px 0px; width: 100%; border-top: 1px solid #f0f0f0; }
.recent_comments_wrapper div.section{ display: inline-block; vertical-align: top; margin: 0px 0px 10px 9px; padding: 0px 0px 10px 0px; width: 97%; border-bottom: 1px solid #ccc; text-align: right; }
.recent_comments_wrapper span.name{ font-size: 13px; text-transform: uppercase; line-height: normal; display: inline-block; vertical-align: top; text-align: left; float: left; color: #b6a166; /* font-weight: bold; */ margin: 0 0 3px; width: 70%; }
.recent_comments_wrapper span.comment{ font-size: 12px; line-height: normal; display: inline-block; vertical-align: top; color: #000; float: left;  text-align: left; font-weight: bold; width: 76%; word-wrap: break-word; } 
.recent_comments_wrapper span.recently_time { font-size: 12px; line-height: normal; display: inline-block;  vertical-align: top; color: #000; margin: 4px 10px 0;  width: 16%; }
.view_all_comments{ display: inline-block; vertical-align: top; width: 100%; margin: 5px 0px 5px; padding: 0px; }
.view_all_comments a{ color: #ae9b73; font-size: 13px; margin: 0px auto; padding: 0px 7px; position: relative; text-align: center; text-decoration: none; vertical-align: top; top: -8px; }
.send_comment{ border: none; margin: 0 0px 20px 8px; padding: 0px; text-align: left; display: inline-block; vertical-align: top; text-align: center; width: 96%; }
.send_comment input{ float: left; margin: 0px; padding: 0px 2%; display: inline-block; vertical-align: top; background: #e4e3e3; height: 27px; width: 80%; outline: none; border: none; font-size: 11px; color: grey; }
.send_comment button{ float: right; background: #727272; display: inline-block; vertical-align: top; margin: 0px; padding: 5px 10px; font-size: 12px; text-transform: uppercase; border: none; height: 27px; color: #fff; }
.viewAll{ float: left;; display: inline-block; vertical-align: top; margin: 30px 0px; padding: 0px; width: 100%; text-align: center; }
.viewAll a{ float: right; font-size: 18px; color: #000; margin: 0px; padding: 0px; text-transform: uppercase; text-decoration: underline; } 
.Section_Main_Heading{ display: inline-block; margin: 20px 0px 0px; padding: 0px; vertical-align: top; text-align: center; width: 100%; }
.Section_Main_Heading h1{ color: #000; margin: 0px 0px 5px; padding: 0px; display: inline-block; vertical-align: top; font-size: 35px; line-height: normal; font-weight: normal; text-transform: uppercase; width: 100%; font-family: 'Open sans'; }
.Section_Main_Heading h3 { color: #000; margin: 0px 0px 40px; padding: 0px; display: inline-block; vertical-align: top; font-size: 17px; line-height: normal; font-weight: normal; font-family: 'Open sans'; width: 100%; }

#SignUp_Wrapper{ background: #e7e7e7; width: 100%; display: inline-block; vertical-align: top; margin: 0px 0px 30px; padding: 30px 0px; text-align: center; } 
#SignUp_Wrapper span{ font-size: 30px; font-style: italic; margin: 13px 0 0px 0; padding: 0px; display: inline-block; vertical-align: top; color: #b8a060; letter-spacing: 2px; font-family: 'ACaslonPro-Regular'; }
#SignUp_Wrapper a{ float: right; background: #b4a166; font-size: 20px; text-transform: uppercase; color: #fff; text-decoration: none; margin: 0px 0px 0px; padding: 10px 80px; display: inline-block; vertical-align: top; }

/*.blockUI.blockMsg.blockPage{ margin-top: 100px !important; }*/

.featuredStylists-Wrapper{ width: 100%; margin: 0px 0px 30px; padding: 0px; display: inline-block; vertical-align: top; text-align: center; }
.featuredStylists-Wrapper .center_row .Section_Main_Heading{ margin: 0px 0px 20px; }
.for_mobile_device{ display: inline-block; vertical-align: top; width:75%;}
.btn_seeAllStylists{ text-decoration: underline; font-weight: normal; font-size: 18px; color: #b6a166; margin: 0px; padding: 0px; display: none; vertical-align: top; text-align: center; width: 100%; }

.three_steps_wrapper{ width: 100%; display: inline-block; vertical-align: top; margin: 0px 0px 50px; padding: 0px; }
.three_steps_wrapper .center_row .Section_Main_Heading h1{ font-size: 28px; }
.three_steps_wrapper .center_row .Section_Main_Heading{ margin: 20px 0 20px; }
.three_steps_wrapper .center_row .column{ display: inline-block; vertical-align: top; margin: 0px 1%; padding: 0px; width: 30%; text-align: center; min-height: 100px;}
.three_steps_wrapper .center_row .column h2{ font-size: 20px; color: #222; font-family: "Open Sans"; display: inline-block; width: 100%; vertical-align: top; margin: 10px 0px 0; padding: 0px; font-weight: normal;}
.three_steps_wrapper .center_row .column span{ background: #b8a060; height: 1px; width: 45%; display: block; vertical-align: top; margin: 0px auto 7px; padding: 0px; text-align: center; }
.three_steps_wrapper .center_row .column p{ font-size: 14px; color: #222; font-family: "Open Sans"; display: inline-block; width: 100%; vertical-align: top; margin: 0px; padding: 0px 15px; font-weight: normal; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

.blog_wrapper{ width: 100%; margin: 0px; padding: 40px 0px 0px; vertical-align: top; display: inline-block; border-top: 1px solid #b8a060; }
.blog_wrapper .center_row .Section_Main_Heading{ margin: 0 0 20px; }
.blog_wrapper .center_row .Section_Main_Heading h1{ text-transform: capitalize; font-size: 38px; }
.blog_wrapper .center_row .Section_Main_Heading h1 span{ text-transform: uppercase; }
.blog_wrapper .center_row .row{ margin: 0 0 20px; }
.blog_wrapper .center_row .row .column{ display: inline-block; vertical-align: top; margin: 0px 0.6%; padding: 0px; width: 31%; text-align: center; min-height: 100px;}
.blog_wrapper .center_row .row .column a img{ width: 100%; margin: 0px; padding: 0px; }
.blog_wrapper .center_row .row .column span{ font-size: 16px; color: #5d5d5d; display: inline-block; margin: -3px 0px 0; padding: 0px; vertical-align: top; text-align: center; width: 100%; text-transform: uppercase; }

.footer_wrapper{ display: inline-block; vertical-align: top; margin: 0px 0px -22px; padding: 65px 0px 0px; background: #5d5d5d; min-height: 230px; width: 100%; }
.footer_wrapper .column{ display: inline-block; vertical-align: top; margin: 0px 0px 40px; padding: 0px; width: 24%; border-right: 1px solid #fff; font-size: 15px; min-height: 240px; }
.footer_wrapper .column .section-one{ display: inline-block; vertical-align: top; margin: 30px 0px 0px; padding: 0px; width: 100%; text-align: center;}
.footer_wrapper .column a{ width: 80%; vertical-align: top; display: inline-block; margin: 0 0 20px; }
.footer_wrapper .column a img{ display: inline-block; }
.footer_wrapper .column span{ color: #c0c0c0; display: inline-block; vertical-align: top; margin: 0px; padding: 0px; width: 100%; text-align: center; font-size: 12px; }

.footer_wrapper .column .section-two{ display: inline-block; vertical-align: top; margin: 10px 0px 0px; padding: 0px 0px 0px 20px; width: 100%; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.footer_wrapper .column .section-two button{ margin: 0px 0px 30px; padding: 10px 15px; display: inline-block; vertical-align: top; background: #b6a166; border: 1px solid #d7d7d7; font-size: 13px; font-weight: 600; }
.footer_wrapper .column ul{ margin: 0px 0px; padding: 0px; }
.footer_wrapper .column ul li{ list-style-type: none; display: block; vertical-align: top; margin: 0px 0px 10px; padding: 0px; font-size: 17px; color: #c0c0c0; text-align: left; line-height: normal; }
.footer_wrapper .column ul li a{ text-decoration: none; color: #c0c0c0; margin: 0px; }
.footer_wrapper .column ul li a.blogList{ margin-bottom: 30px; }
.footer_wrapper .column ul li a:hover{ text-decoration: none; color: #c0c0c0; }

.footer_wrapper .column .section-three{ display: inline-block; vertical-align: top; margin: 15px 0px 0px; padding: 0px 0px 0px 20px; width: 100%; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

.footer_wrapper .column.last{ border: none; width: 25%; }
.footer_wrapper .column .section-four{ display: inline-block; vertical-align: top; margin: 15px 0px 0px; padding: 0px 0px 0px 20px; width: 100%; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.footer_wrapper .column .section-four h2{ font-size: 18px; margin: 0px 0px 20px; padding: 0px; display: inline-block; vertical-align: top; width: 100%; color: #bababa; }
.footer_wrapper .column .section-four input{ outline: none; border: none; color: #6b6b6b; width: 90%; height: 35px; font-size: 15px; margin: 0px 0px 10px; padding: 0px 5px; display: inline-block; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.footer_wrapper .column .section-four input.btn-sign_up{ display: inline-block; vertical-align: top; margin: 0px; padding: 5px 20px; cursor: pointer; background: #000; font-size: 13px; text-transform: uppercase; width: auto; color: #fff; }

#header_wrapper.header_bar{ min-height: 30px; padding-top: 15px; }
#signin-popup{ position: fixed; background: #fff; }



.notification_dropdown{ box-shadow: #888 0 0 7px; display: none; vertical-align: top; margin: 0px; padding: 10px 0; position: absolute; top: 42px; width: 380px; right: 0px; border: 1px solid #6f6f6f; background: #fff; min-height: 150px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.cart_dropdown{ box-shadow: #888 0 0 7px; display: none; vertical-align: top; margin: 0px; padding: 10px 0; position: absolute; top: 42px; width: 380px; right: 0px; border: 1px solid #6f6f6f; background: #fff; min-height: 150px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.cart_dropdown > .pointer{ left: 82%; }
.cart_dropdown > .bottom_section{ font-size: 13px; border-top: 1px solid #000; }
.cart_dropdown > .bottom_section > span{ color: #c03f3f; }
.myAccount_dropdown{ box-shadow: #888 0 0 7px; display: none; vertical-align: top; margin: 0px; padding: 10px 0; position: absolute; top: 42px; width: 380px; right: 0px; border: 1px solid #6f6f6f; background: #fff; min-height: 150px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.myAccount_dropdown > .pointer{ left: 94%; }
.myAccount_dropdown > .content_section a{ display: block; vertical-align: top; margin: 0px; padding: 0px 0px 10px; }
.myAccount_dropdown > .bottom_section{ border-top: 1px solid #000; padding: 10px 0 0; }
.myAccount_dropdown > .bottom_section a{ display: inline-block; background: #b6a166; padding: 5px 20px; font-size: 18px; color: #fff; font-weight: normal; text-transform: uppercase; }



.pointer{ position: absolute; top: -14px; left: 69%; }
.heading_section{ font-family: 'ProximaNovaCond-Regular'; font-weight: 600; border-bottom: 1px solid #6f6f6f; width: 100%; display: inline-block; vertical-align: top; margin: 0px 0px 15px; padding: 0 10px 6px; font-size: 17px; text-transform: uppercase; color: #000; line-height: normal; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.heading_section a.icon_cross{ background: url(../img/home/icon_cross.jpg) no-repeat; display: inline-block; vertical-align: top; margin: 0px; padding: 0px; width: 13px; height: 14px; float: right; }
.content_section{ font-size: 16px; display: inline-block; vertical-align: top; margin: 0px 0px 10px; padding: 0px; text-align: center; width: 100%; line-height: normal; color: #000000; }
.content_section > .stylist_profile_icon{ width: 100%; text-align: center; display: inline-block; vertical-align: top; margin: 15px 0px 5px; padding: 0px; }
.content_section > .stylist_profile_icon img{ border-radius: 100%; display: inline-block; vertical-align: top; border: 2px solid #e8e8e8; margin: 0px; padding: 0px; }
.content_section > .btn_chat_now{ display: inline-block; vertical-align: top; margin: 0px; padding: 4px 15px 2px; background: #ccbd94; font-size: 14px; text-transform: uppercase; color: #fff; }
.content_section > span a{ color: #c03f3f; padding: 0 0 0 3px; display: inline-block; vertical-align: top; outline: none; }
.bottom_section{ display: inline-block; vertical-align: top; margin: 0px; padding: 8px 0px 0; text-align: center; width: 100%; font-size: 16px; }
.bottom_section a{ color: #c03f3f; padding: 0 0 0 3px; display: inline-block; vertical-align: top; outline: none; }


.caroufredsel_wrapper{ width: 100% !important; min-height: 140px !important; margin: 25px 0 20px !important; }
.caroufredsel_wrapper ul.latest_news{ width: 100% !important; height: auto !important; position: relative !important; }
.caroufredsel_wrapper ul.latest_news li{ width: 100%; text-align: left; padding: 0 30px 0; margin: 10px 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; } 
.caroufredsel_wrapper ul.latest_news li a{ width: auto; height: auto;  background: none; font-size: 15px; text-indent: inherit; width: 40%; } 
.caroufredsel_wrapper ul.latest_news li span{ display: inline-block; vertical-align: top; margin: 0px; font-size: 13px; padding: 0 0 5px 0; border-bottom: 1px solid #ccc; width: 50%; line-height: normal; } 
#prev_item{ position: absolute; top: 45px; left: 47.7%; background: url(../img/home/arrow_down_prev.jpg) no-repeat; width: 16px; height: 9px; font-size: 0px; }
#next_item{ position: relative; bottom: 10px; background: url(../img/home/arrow_down_next.jpg) no-repeat; width: 16px; height: 9px; font-size: 0px; margin: 0px auto; display: inline-block !important; }

.bottom_buttons_area{ display: inline-block; vertical-align: top; margin: 0px; padding: 10px 0px 0; width: 100%; border-top: 1px solid #000; text-align: center; }
.bottom_buttons_area a.viewCart{ background: #c9c9c9; }
.bottom_buttons_area a.proceeToPurchase{ background: #b6a166; color: #fff; }
.bottom_buttons_area a{ display: inline-block; vertical-align: top; margin: 0px 20px 0 0; padding: 8px 15px; line-height: normal; font-size: 15px; text-transform: uppercase; }


/* ===== Mobile Menu ===== */
.mobile_menu_wrapper {display: inline-block; width: 185px; height: 100%; margin: 0px 10px 0 0; background: #5f5d5e; vertical-align: top; text-align: left; padding: 20px 20px 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.menu_switcher{ outline: none; width: 35px; margin: 0px 0 0 5px; }
.menu_switcher:focus{ outline: none; }
.menu_switcher img{ width: 100%; }
.wrapper_mobile{z-index: 9999; display: none; position: fixed; height: 100%; left: -185px; top:0px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; }
.mobile_menu_wrapper ul{ margin: 0px; padding: 0px; }
.mobile_menu_wrapper ul li{ font-size: 16px; color: #fff; line-height: 30px; margin: 0; padding: 0; width: 100%; }
.mobile_menu_wrapper ul li a{ color: #fff; }
.mobile_menu_wrapper ul span{ border-top: 1px solid #777676; width: 100%; display: inline-block; margin: 10px 0; padding: 0; height: 1px; } 





@media screen and (max-width: 328px) {
	.menu_switcher{ margin: -4px 0 0 10px; }
	.top_icons{ right: -20px; top: -5px; }
    /*.container_wrapper .slick-list{ height: 113px; }
    .container_wrapper .slick-slide h3 a .hover_part{ line-height: 113px; height: 113px; font-size: 12px; }*/
    .slick-slide h3 a .hover_part{ height: 192px; }
    .last_slide .btn_seeAllStylists{ margin: 0px 0 0; }
    body .row.recent_comments_wrapper > .send_comment input{ width: 77%; margin: 0; }    
    body .container_wrapper .slider .flexslider .slides > li > span{ width: 99%; }
    body .container_wrapper #banner_wrapper .flexslider .slides > li.GetSocial > span ul li a{ line-height: 74px; background-size: 25% auto !important; }
    body .container_wrapper #banner_wrapper .flexslider .slides > li.GetSocial > span ul li a.facebook{ background-size: 15% auto !important; }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
	#banner_wrapper{ width: 100%; margin: 88px 0 0 0; }
	.rightImages{ width: 100%; margin: 0px; }
	.rightImages a span.col-text { padding: 10px; font-size: 17px; }
	.blog_wrapper .center_row .row .column{ width: 100%; }
	.rightImages a{  height: 150px !important; line-height: 150px !important; }
	.rightImages{ height: auto !important; }
}

@media screen and (max-width: 480px) {
    .wrapper_mobile .menu_switcher{ margin: 60px 0 0 0; }
    #header_wrapper .top_icons{ top: -6px; }
    .wrapper_mobile .menu_switcher img { width: 90%; }
}

@media screen and (max-width: 568px) {
    .container_wrapper .rightImages a{ width: 100%; }
    .container_wrapper .slider .flexslider .slides > li > span p{ margin-bottom: 0px; }
    .container_wrapper .slider .flexslider .slides > li > span{ top: 5%; width: 90%; }
    .container_wrapper .slider .flexslider .slides > li.GetSocial > span{ padding: 10px 0px 25px; }
    /*.container_wrapper .slick-list{ height: 113px; }
    .container_wrapper .slick-slide h3 a .hover_part{ line-height: 113px; height: 113px; font-size: 12px; }*/

    /* ==== Banner CSS ====*/
    .container_wrapper #banner_wrapper .flexslider .slides > li{ height: 270px; }
    .container_wrapper #banner_wrapper .flexslider .slides > li.GetSocial > span ul li a{ background-size: 32% !important; font-size: 12px; letter-spacing: 0; padding: 0 5px 0 0; margin: 0px; line-height: 90px; }
    .container_wrapper #banner_wrapper .flexslider .slides > li.GetSocial > span ul li a.facebook{ background-size: 20% !important; }
    .container_wrapper #banner_wrapper .slider .flexslider .slides > li > span a { font-size: 12px; padding: 10px 4% 10px; margin: 10px 5px 0; }
    /* ==== Banner CSS ====*/
}


@media screen and (min-width: 640px) and (max-width: 768px) {
	body .footer_wrapper .column.last { border: none; width: 48%; margin-bottom: 0px; }
	body .footer_wrapper .column .section-one { text-align: center; display: table-cell; vertical-align: middle; }
	body .footer_wrapper .column .section-two { text-align: center; display: table-cell; vertical-align: middle; }
	body .footer_wrapper .column .section-three { text-align: center; display: table-cell; vertical-align: middle; }
	body .footer_wrapper .column .section-four { text-align: center; display: table-cell; vertical-align: middle; }
	body .footer_wrapper .column { width: 48%; margin: 0 0; text-align: center; float: left; display: table; border-right: 1px solid #fff; min-height: 240px; }
	body .footer_wrapper .column:nth-child(2n+2){ border: none; }
 
}

@media screen and (max-width: 400px) {
	.featuredStylists-Wrapper .for_mobile_device .slick-dots{ top: 3px; }
}


@media screen and (min-width: 640px) and (max-width: 825px) {
	.nav_wrapper{ margin-right: 0px; }
	#header_wrapper > .center_row{ padding: 0 1%; }
	.flexslider .slides > li.GetSocial > span{ padding: 10px 0px 20px; top: 20px !important; width: 82%; }
	.flexslider .slides > li.GetSocial > span ul{ margin: 15px 0px 0px; }
	.flexslider .slides > li.GetSocial > span ul li a{ padding: 0 5px 0 0; font-size: 13px; }
	.flex-control-nav.flex-control-paging{ bottom: 10px; }
	#banner_wrapper .slider .flexslider .slides > li > span p{ margin-bottom: 7px; }

	.last_slide a > .btn_seeAllStylists { margin: 40px 0 0; }
	.last_slide { width: 100% !important; height: auto !important; }
	.featuredStylists-Wrapper{ margin-bottom: 0; }

	.last_slide a > .btn_seeAllStylists{ display: block; }
	.last_slide a img{ display: none; }

}

@media screen and (min-width: 240px) and (max-width: 1075px) {
	.for_mobile_device .slick-slider{ position: relative; }
	.for_mobile_device .slick-dots{ width: 100%; }
}

@media screen and (min-width: 240px) and (max-width: 768px) {
	.show{ left: 0; display: inline-block; }
	.menu-show{margin-left: 185px !important;;}
	.cart-right{right:-185px !important;}
	.of-toggle{overflow: hidden;}
    .logo_details{ width: 50%; }
    .logo_details a{ width: 100%; display: inline-block; }
    .logo_details a img{ width: 60%; display: inline-block; }
    .top_icons{ float: none; margin: 0; text-align: right; position: absolute; right: 0px; top: 6px; }
    .top_icons ul{ display: none; }
    .top_icons ul.last{ float: none; display: block; }
    .top_icons ul li a.notifications{ display: none; } 
    .top_icons ul li a.my-account{ display: none; } 
    .nav_wrapper{ display: none; } 
	.flexslider .slides{ height: auto; }
	.slider .flexslider{ height: auto; }
	.flex-direction-nav{ display: none; }
    #top_outfits_wrapper .column{ width: 95%; text-align: center; margin: 0 0 20px; }
    .row.recent_comments_wrapper > .send_comment input{ width: 87%; margin: 0; }
    form > .btn_shop_this_outfits { width: 100%; }
    .three_steps_wrapper .center_row .column{ width: 98%; }
    .footer_wrapper .column{ width: 100%; min-height: inherit; border: none; margin: 0 0; text-align: center; }
    .footer_wrapper{ padding: 0px; text-align: center; }
    .footer_wrapper .column .section-one{ text-align: center; }
    .footer_wrapper .column .section-two{ text-align: center; }
    .footer_wrapper .column .section-three{ text-align: center; }
    .footer_wrapper .column .section-four{ text-align: center; }
    .footer_wrapper .column ul li{ text-align: center; }
    .footer_wrapper .column ul li a.blogList{ margin-bottom: 0; }
    .footer_wrapper .column.last{ width: 100%; margin-bottom: 30px; }
	.center_row{ text-align: center; position: relative; width: 98%; padding: 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
	.promotionalBar{ padding: 5px 20px; height: auto; line-height: 23px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
	.slider .flexslider .slides img{ height: 100%; }
	.slider .flexslider .slides > li > span h2{ font-size: 28px; }
	.slider .flexslider .slides > li > span p{ font-size: 13px; line-height: 21px; margin-bottom: 20px; }
	.slider .flexslider .slides > li > span p.cutOff{ display: none; }
    .slider .flexslider .slides > li > span a{ font-size: 15px; padding: 10px 4% 10px; margin: 0 5px; }
	.slider .flexslider .slides > li > span{ top: 15%; width: 95%; }
    .rightImages .row a.img_hover img{ height: 100%; }
    .rightImages .row a{ height: 100%; }
    .menu_switcher{ display: inline-block; width: 30px; margin: 50px 0 0 0; border: none; }
    .menu_switcher.scrolled{margin-top: 8px;}
    .wrapper_mobile{ display: inline-block; }
    .mobile_menu_wrapper ul li{ font-size: 14px; }

    .rightImages a span.col-text { padding: 5px 10px; font-size: 15px; }
	#SignUp_Wrapper{ height: auto; padding: 10px 0 0; }
    #SignUp_Wrapper span{ margin-top: 14px; font-size: 23px; }
    #SignUp_Wrapper a{ float: none; margin: 10px 0 25px; }

    .cart_dropdown > .pointer{ left: 89%; }

}

@media screen and (max-width: 1075 px) and (min-width: 240px) {
	.last_slide{ width: 100% !important; height: auto !important; }
	.last_slide a img{ display: none; }
	.btn_seeAllStylists{ display: block; margin: 30px 0 0; }
}

/*@media screen and (max-width: 800px) and (min-width: 569px) {
    .logo_details a img{ width: 60%; }
    .rightImages .row{ display: inline-block; float: left; margin: 5px 1px 0; vertical-align: top; width: 33%; height: auto; }
    .rightImages .row a{ display: inline-block; float: left; height: 86px; margin: 0; padding: 0; vertical-align: top; width: 100%; }
    .rightImages .row a.img_hover img { height: 100%; width: 100%; }
    #top_outfits_wrapper .column{ margin: 0 5px 20px; width: 42%; }
    .last_slide{ width: 100%; }
    .for_mobile_device{ width: 95%; }
    .slider.multiple-items.slick-initialized.slick-slider{ max-width: 100% !important; padding: 0 20px; }
    .for_mobile_device .slick-dots{ display: block; left: 0; right: 0; width: 100%; }
    .for_mobile_device .slick-prev{ left: 4px; }
    .for_mobile_device .slick-next{ left: auto; right: 2px; }
    .for_mobile_device .slick-prev, .slick-next{ position: absolute; top: 50%; }
    .footer_wrapper .column a img{ width: 30%; }
    .footer_wrapper .column .section-four input{ width: 80%; }

}*/

/*@media screen and (max-width: 1024px) and (min-width: 1000px) {
    .featuredStylists-Wrapper{ text-align: center; }
    #SignUp_Wrapper a{ margin: 30px 0px 0 50px; float: none; }
    .footer_wrapper .column a{ width: 80%; }
    .rightImages .row{ height: 88px; }
    .flexslider .slides > li > span p{ font-size: 15px; line-height: 19px; margin: 5px 0 0px; }
    .center_row{ padding: 0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; width: 100%; }
    #top_outfits_wrapper{ text-align: center; }
    .flexslider .slides > li > span p.cutOff{ margin: 15px 0px 20px; }
    #top_outfits_wrapper .column{ width: 31%; }
    .flex-control-nav{ position: relative !important; bottom: 25px !important; }
}*/


@media screen and (max-width: 1023px) and (min-width: 320px) {
	ul.two-column li{width:100%; height:auto; float:left; margin-bottom: 20px; }
	ul.two-column li:last-child{width:100%; height:auto; float:left; }
	.product-content{width:500px; height:auto; margin:auto; float:none !important;}
}

@media screen and (max-width: 800px) and (min-width: 320px) {
	.last_slide { width: 100% !important; height: auto !important; }
	.featuredStylists-Wrapper{ margin-bottom: 0px; }
	.last_slide a img{ display: none; }
	.btn_seeAllStylists{ display: inline-block; margin: 20px 0 0; }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
	.slick-slide h3 a .hover_part{ left: 0; top: 0; width: 90%; height: 187px; font-size: 15px; padding: 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; right: 0; }

	.cart_dropdown { top: 38px; width: 290px; right: 10px; }



}
@media screen and (max-width: 800px) and (min-width: 480px) {
	.slick-track{ height: 119px; overflow: hidden; }
	.slick-slide h3 a .hover_part{ font-size: 13px; }
	.slick-slide a img { max-height: 158px; height: 120px; }

}
@media screen and (max-width: 1380px) and (min-width: 1001px) {
	.flexslider .slides > li > span{ top: 2%; width: 70%; padding: 10px 20px 25px; }
}


@media screen and (max-width: 1040px) and (min-width: 320px) {
	.center_row{ width: 100%; padding: 0 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
	#SignUp_Wrapper{ padding: 20px 0 30px; }
	#SignUp_Wrapper span{ width: 100%; }
	#SignUp_Wrapper a{ float: none; margin: 15px 0 0; }
	.flexslider .slides > li > span{ padding: 10px 20px 25px; width: 70%; }
	.flexslider .slides > li > span div.heading{ font-size: 20px; }
	.flexslider .slides > li > span p{ font-size: 12px; line-height: normal; }
	.flexslider .slides > li > span a{ padding: 10px 10px; font-size: 14px; }
	.rightImages a span.col-text { padding: 10px; font-size: 16px; }

	.btn_shop_this_outfits{ width: 93%; }
	.send_comment input{ width: 70%; }



}
