/**
 * Common Styles
 */

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}
.right{float: right !important; }
.left{float: left !important; }
.clear-fix{clear: both;}
a{text-decoration: none;}
.v-top{vertical-align: top;}


.center-block{margin: 0 auto;}
.hide{display: none;}
img,iframe{max-width: 100% !important; opacity: 1 !important;}/*to remove*/

.err-message, .err-size-message, .err-email-message, .error-msg{color:#ff0000; font-size: 12px; display:none; }
.err-msg, .input-error{ border-color:#ff0000 !important; }

.link-btn{ border: none; color: #FFFFFF; display: inline-block; font-size: 14px; margin: 5px 5px 5px 0; padding: 6px 12px; text-decoration: none; text-transform: uppercase; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -o-box-sizing:border-box;  box-sizing:border-box; }
.gray-btn { background-color: #F1F1F1; color: #333 }
.green-btn, .green-btn:hover, .green-btn:visited { background-color: #497775; color: #fff; }
.black-btn,.black-btn:hover, .black-btn:visited { background-color: #000; color: #fff; text-transform: uppercase;}
.gold-btn, .gold-btn:hover, .gold-btn:visited{ background-color: #af9a59; color: #fff; }
.back-btn{padding:6px 50px;}
/****FONTS***/
@font-face {
    font-family: 'Conv_Novecento-Bold';
    src: url('fonts/Novecento-Bold.eot');
    src: local('?'), url('fonts/Novecento-Bold.woff') format('woff'), url('fonts/Novecento-Bold.ttf') format('truetype'), url('fonts/Novecento-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_Novecento-Book';
    src: url('fonts/Novecento-Book.eot');
    src: local('?'), url('fonts/Novecento-Book.woff') format('woff'), url('fonts/Novecento-Book.ttf') format('truetype'), url('fonts/Novecento-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/***Form Fields***/
label, div.finalizing h5{ display:block; font-family: 'Conv_Novecento-Book',Sans-Serif; margin: 0 0 3px 0; color: #AF9A59; font-size: 13px; text-transform: uppercase;}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select{ border: 1px solid #D9D9D9; padding: 8px 5px; color: #444444; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -o-box-sizing:border-box;  box-sizing:border-box; width: 100%;  resize:none;}
input[type="submit"]{color: #fff;}

/******Skeleton******/

	html { overflow-y: scroll;}
	body{ font-family: 'Droid Serif', serif; font-size: 14px; line-height: 21px; text-wrap: normal; -webkit-font-smoothing:subpixel-antialiased;}

	.one.column,
    .one.columns 		{ width: 8.333333333333332%; }
    .two.columns 		{ width: 16.666666666666664%; }
    .three.columns		{ width: 25%; }
    .four.columns		{ width: 33.33333333333333%; }
    .five.columns		{ width: 41.66666666666667%; }
    .six.columns 		{ width: 50%; }
    .seven.columns		{ width: 58.333333333333336%; }
    .eight.columns		{ width: 66.66666666666666%; }
    .nine.columns		{ width: 75%; }
    .ten.columns 		{ width: 83.33333333333334%; }
    .eleven.columns		{ width: 91.66666666666666%; }
    .twelve.columns		{ width: 100%; }
    .nine-five.columns{width: 95%;}

    .container{position: relative; width: 960px; margin: 0 auto; padding: 0;}
    .content-container{height: 100%; position: relative;}
    /*.container .column, .container .columns{float: none;}*/
    .inner{margin-bottom: 30px;}
    .full-width{width: 100% !important;}

 /****************Header****************/
 .wrapper{position:relative; width: 95%; height: 100%; margin:0 auto; padding: 0;}
 .header {background-color: #000000; width: 100%; height: auto; position: fixed; top: 0px; z-index: 11; }
 	/******Right Card Menu****/
	 .card-menu {position: absolute; right:0; color:white; padding: 0 !important; margin:0px !important;}
	 .card-menu  ul {padding:3px 0; margin: auto; float: right; }
	 .card-menu  li {cursor: pointer; font-size: 11px; margin: 0px 0px; padding: 0px 0px; display:inline-block; color:white; font-family: 'Droid Serif', serif;text-decoration: none; text-transform: uppercase; border-left: solid 1px #AF9A59; padding-left:5px; padding-right: 5px;}
	 .card-menu ul li:first-child {border-left:none;}
	.card-menu  li a{color:#AF9A59;}
	.card-menu .submenu { background-color: #ffffff; border-left: 1px solid #CCCCCC; cursor: auto; padding: 12px;
	    z-index: 100; }
	.card-menu .submenu li { border: medium none; margin-bottom: 5px; display: block; float: none; font-size: 12px; }
	.card-menu .submenu li:last-child { margin-bottom:0px; }
	.card-menu .submenu li a { color:#b4b4b4; display: block; }
	.card-menu .submenu li a:hover { color:#8f7948; }
	.welcome-name, .welcome-name a {cursor: default;}
	.msg-notify-box .submenu { overflow: hidden; color: #000; }
	.msg-count, .outfit-count{ width: 80px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -o-box-sizing:border-box;  box-sizing:border-box; text-align: center; text-transform: uppercase; padding: 10px 0; border:1px solid #E6E6E6; background-color: #F2F2F2; }
	.msg-count:hover, .outfit-count:hover{ background-color: #E6E6E6; }
	.submenu-container { display:none; position:absolute; right:5px; margin-top: 0; padding-top: 7px; -moz-box-shadow: rgba(30,30,30,0.3) 0px 2px 3px 1px; -webkit-box-shadow: rgba(30,30,30,0.3) 0px 2px 3px 1px; box-shadow: rgba(30,30,30,0.3) 0px 2px 3px 1px; z-index: 200; background: url('../img/bg-top-menu.png') no-repeat 88% 0; filter:progid:DXImageTransform.Microsoft.Shadow(color='#333333',direction='120',strength='4'); }
	.card-menu .submenu { background-color: #ffffff; border-left: 1px solid #CCCCCC; cursor: auto; padding: 12px; z-index: 100; color: #000;}
	.msg-notify-box { right: -64px; background-position: center 0; width: 190px;}
	.card-menu li:hover > .submenu-container{ display:block; }
	/*****Logo Strip and Main Menu****/
	.header-logo{margin: 0; padding: 0;}
	.header .logo {padding:15px 0 0 0; width: 250px; margin: 0;}
	.header .menu{background-color: transparent;}
	.header .menu ul {margin: 0 auto; padding: 0; display: table; margin: auto; }
	.header .menu li {cursor: pointer; display: inline-block; font-size: 12px; margin: 10px 70px 5px 0; padding: 0 13px; text-transform: uppercase; border:none;}
	.header .menu li:last-child{margin-right: 0;}
	.header .menu li a {color: #ffffff; font-size: 14px; font-family: 'Conv_Novecento-Book',Sans-Serif; padding-bottom: 10px;}
	.header .menu li span{color: #ffffff;}
	.header .menu li span:hover{ border-bottom:1px solid #fff;}
	.header .menu li:hover > .submenu{ display:block; }
	.header .menu .submenu { background-color: #ffffff; border: 1px solid #CCCCCC; cursor: auto; display: none; margin: 2px 0 0 -14px; padding: 0; position: absolute; z-index: 100; text-align: left; }
	.header .menu .submenu li {border:none; display: block;}
	.header .menu .submenu li a{color: #b4b4b4;}
	#menu-switcher{color: #fff; font-size: 40px; float: right; padding: 6px 0; display: none; cursor: pointer;}

/*******Middle Section*********/
.content-container{background-color: #fff;}
.content{margin-top: 94px; padding: 10px 0 20px 0; background-color: #FFFFFF;}
.content p{line-height: 24px; margin-bottom: 20px;}
.content .page-heading{margin:0 auto; padding: 10px 0; display: block;}
.content .page-heading h1, .content .block-heading h1{font-family:arial, Helvetica, sans-serif; color:#000; font-size: 30px; text-transform: uppercase; font-weight: normal; margin: 0;}
.content .page-content{margin:0 auto; display: block;}

/*******Footer********/
.footer-bar{width: 100%; color: #fff; clear:both;}
.footer{margin: 0; background-color: #000; position: absolute; height: auto; width: 100%;}
.footer .menu{background-color: transparent; border: none; margin: 10px auto;}
.footer .menu li{display: inline-block; padding: 0 10px; margin:0; text-transform: uppercase; border: none;}
.footer .menu li a{color: #fff; font-size: 10px; font-family: 'Conv_Novecento-Book',Sans-Serif;}
.footer .copyright{ font-size: 10px; text-transform: uppercase; font-family: 'Conv_Novecento-Book',Sans-Serif; padding-right: 10px; margin: 10px 0;}

/****How it works Page****/
.membership-flow{width: 100%; margin: 40px 0 10px 0;}
.free-beta{margin-bottom: 20px;}
#membership-table{float:none; margin: 0 0 50px 0; border-collapse: separate; border-right: 1px solid #DFDFDF; -moz-border-radius: 0 5px 5px 0; -webkit-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0;}
#membership-table th{ color:#777; font-family:'Conv_Novecento-Book',Sans-Serif; font-size: 16px; line-height: 21px; background-color: rgb(221,217,195); width:20%; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #DFDFDF; border-top: 1px solid #DFDFDF; border-left: 1px solid #DFDFDF; border-right: none;}
.mem-top-left{ -moz-border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.mem-top-right{ -moz-border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.mem-bottom-left{ -moz-border-bottom-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.mem-bottom-right{ -moz-border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
#membership-table th.empty-header{ background-color: white; width:40%; border-left: 1px solid white; border-top: 1px solid white; }
#membership-table td{ background-color: #F2F2F2 !important; border-bottom: 1px solid #DFDFDF !important; border-top: 1px solid #fff !important;   border-left: 1px solid #DFDFDF !important; border-right: none !important; }
#membership-table td.membership-service-option{ background-color: rgb(217,217,217); padding-top: 5px; padding-left: 10px; padding-right: 5px;    border: 1px solid black; }
.membership-service-option > .title{ font-size: 16px; }
.membership-service-option > .description{ font-size: 11px; color: #9B9B9B; padding-bottom: 4px; }
#membership-table td.included{ background: url("../img/checkmark.png") no-repeat scroll center center transparent; }
.coming-soon{ font-family:arial, Helvetica, sans-serif; text-transform: uppercase; margin: 20px 0; font-size: 26px; }
/******Branding Partners Page and Brands Page(style profile)******/
ul#branding-partners{margin-bottom: 15px;}
ul#branding-partners li,div#brands ol.brands-logo li{ display:inline-block; background: #fff; border:1px solid #CCCCCC; vertical-align: middle;  line-height: 57px; text-align: center;  margin:15px !important; cursor: pointer;  padding:0 3px;  height:60px;  width:140px; font-size: 14px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -o-box-sizing:border-box;  box-sizing:border-box; }
div#brands ol.brands-logo li.ui-selected, div#brands ol.brands-logo li:hover { border: 2px solid #AF9A59; background: transparent; }
ul#branding-partners li img,div#brands ol.brands-logo li img{ max-height:52px; max-width:138px; vertical-align:middle;}
.register-brands .product-type{text-align: center; margin-bottom: 20px;}
ul.product-type li { display: inline-block; margin-right: 60px; margin-bottom: 0; font-family: Conv_Novecento-Book,sans-serif; cursor: pointer; }
ul.product-type li.selected a { color: #AF9A59; font-weight: bold; }
ul.product-type li:last-of-type { margin-right: 0; }
/******Contact Us and Form*******/
.content .input, select#contact-type {margin: 0 0 18px;}
.contact-form .form{margin-bottom: 50px;}
.contact-map-info .contact-map{margin-top: 20px !important;}
/*******Faq Page******/
.faq-title{ font-family: 'Conv_Novecento',Sans-Serif; font-size: 22px; margin-bottom: 5px; text-transform: uppercase; color:#444444; text-decoration: underline; margin-bottom: 15px; font-weight: 700; }
/*****Meet The Crew Page*****/
.team{margin-top:20px;}
.team-member{width: 18%; min-height: 348px; display: inline-block; vertical-align: top; text-align: left; margin: 0 25px 60px 25px; padding: 10px 10px 15px 10px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -o-box-sizing:border-box;  box-sizing:border-box; font-family: helvetica,sans-serif,arial; word-wrap:break-word; -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); box-shadow: 0px 0px 5px rgba(0,0,0,0.5); color: #000;}
.team-member img{width: 100%; cursor: pointer;}
.team-member .name, p.tm-name{text-transform: uppercase; font-size: 14px; font-weight:bold; line-height: 20px; display: block;}
.team-member .tm-email, span.tm-email-id{text-transform: lowercase; font-size: 10px; line-height: 13px; font-weight: bold; display: block;}
.team-member .title, p.tm-title{font-size: 10px; line-height: 16px; text-transform: uppercase; color: #888888; display: block;}
.team-member .sub-title{font-size: 10px;color: #888888; margin: 5px 0 10px 0; line-height: 12px; font-weight: bold; display: block;}
.team-member div.desc{display: none;}
.team-member .more-info-text{background-color: #000; color: #fff; text-transform: uppercase; font-size: 12px; padding: 5px 10px; margin-top: 50px; font-family: georgia; letter-spacing: 0.2px;}
.team-member .info-btn{margin-top: 20px;}
/********Retailers and Bloggers Page*****/
div.retailers{margin-top: 20px !important;}
div#independent{margin-bottom: 30px;}
div.sub-inde, div.sub-blogger{display: inline-block; vertical-align: top;}
.show-more-text{ background: url("../img/arrow_down.png") no-repeat scroll center center transparent; display: inline-block; height: 24px; margin: 5px auto 24px; overflow: hidden; text-indent: 100%; white-space: nowrap; width: 24px; outline: none; }
.show-more-text.up { background: url("../img/arrow_up.png") no-repeat scroll center center transparent; }
div.bloggers{margin-top: 10px;}
div.blogger-box{margin-bottom: 20px;}
div.sub-blogger .name{font-family: 'Conv_Novecento-Bold',Sans-Serif; font-size: 22px; font-weight: bold; margin-bottom: 5px; text-transform: uppercase;}
div.sub-blogger .title{font-family: 'Conv_Novecento-Book',Sans-Serif; font-size: 14px; text-transform: uppercase; vertical-align: middle;}
/*****STYLE PROFILE*******/
.profile-tabs a { margin-left: 10px; margin-right: 10px; width: 150px; }
.about-submit .submit input[type="submit"],#brands-continue, #Contact-Us{width: auto; background-color: #000; padding: 6px 50px; line-height: 21px; text-transform: uppercase;}
.dob select{width: 30%; margin-right: 5%;}
.dob select:last-child{margin-right: 0;}
.profile-tabs{margin:20px 0;}
	/*Style Section*/
	.preferences h5 { margin: 0 0 15px 0; }
	.preferences #selectable .ui-selecting { background: #917A49; }
	.preferences #selectable .ui-selected { background: #917A49; color: #FFFFFF; }
	.preferences #selectable { list-style-type: none; margin: 0; padding: 0; }
	.preferences #selectable li { cursor: pointer; display: inline-block; font-size: 16px; line-height: 30px; margin: 5px; padding: 15px 10px; text-align: center; width: 205px; }
	.preferences #selectable li:hover{ background: #917A49; color: #FFFFFF;}
	.hi-message h4 { color: #9E9248; font-family: Conv_Novecento-Book, sans-serif; margin-bottom: 10px; margin-top: 20px; text-transform: uppercase; font-weight: normal !important; }
	/*Size Section*/
	.size-info #height, .size-info #weight { margin-bottom: 10px; }
	.preferences.register-size #height-result-display, .preferences.register-size #weight-result { border: medium none; cursor: default; text-align: center; }
	.preferences.register-size #size select { width: 100%; }
	#body-shape{margin-bottom: 20px;}
	#body-shape h4{color: #AF9A59; font-size: 13px; margin-bottom: 15px; font-weight: normal; }
	div#body-shape #selectable-shape li { display:inline-block; cursor: pointer; font-size: 13px; line-height: 30px; margin-left: 20px; margin-right: 20px; margin-bottom: 20px; padding: 15px 10px; text-align: center; width: 108px; 	}
	div#body-shape ul#selectable-shape li.selected, div#body-shape #selectable-shape li:hover { background: none repeat scroll 0 0 #917A49; color:#FFFFFF; }
	div#body-shape #selectable-shape li img { width:100px; height:134px; border: 4px solid #fff; box-shadow: 0 2px 3px 1px rgba(30, 30, 30, 0.3); }
	.pant-size { position: relative; }
	.style-preference, .register-style, .register-about, .register-brands,.register-last-step, .register-finish{margin-bottom: 30px;}
	.style-preference .srs-form{width: 40%;}
	.size-chart { float: right; font-size: 10px; color: #41a3e4; text-decoration: none; cursor: pointer; }
	#size-chart-box { position:absolute; top: 25px; right:0; background:#ffffff; box-shadow: 0 2px 3px 1px rgba(30, 30, 30, 0.3); width:217px; display: none; z-index: 9999; }
	#size-chart-box ul { padding: 0 8px; margin-top:10px; margin-bottom: 5px; }
	#size-chart-box ul li { display: inline-block; width:45px; margin-bottom: 5px; text-align: center; border:1px solid rgba(30, 30, 30, 0.2); text-transform: uppercase; font-size: 10px; cursor: pointer; }
	#size-chart-box ul li.selected{ background: #b2d2fb; }
	/******Last Step Section****/
	#upload-img{padding: 6px 12px; width: auto !important; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -o-box-sizing:border-box;  box-sizing:border-box;}
	.finalizing .about-submit{margin-top: 20px;}
	/***finish page***/
	.product-share{font-size: 16px; color: #B29957; margin-top:10px;}
	.product-share span{display: block; margin-bottom: 5px;}
	.product-share a { width: 36px; height: 36px; display: inline-block;}
	.about-submit #lnk-fb-share { background: url('../img/fb_off.png') no-repeat center;  }
	.about-submit #lnk-email { background: url('../img/email_off.png') no-repeat center; margin: 0;}

/******Modal Box Common Pop-up*******/
.box-modal{ width: 430px; position: relative;}
.box-modal-inside{ padding: 25px;}
.notification-msg{ background-color: #F2F2F2; padding: 30px 12px 33px; text-align: center; color: #000;}
.notification-close{ width: 10px; height: 10px; position: absolute; top: 16px; right: 16px; display: block; background: url('../img/close-popup.png') no-repeat center center; }
/********Branding Partners POP-UP******/
.brand-info p{ text-align: justify; }
.brand-logo img{ max-width:150px !important; max-height: 50px; margin-bottom: 10px;}
.brand-btn{ margin-top: 10px; width:140px;}
p.brand-desc{ margin:0;}
p.brand-title{ font-weight:bold; margin-bottom: 8px;}
.brand-info .notification-msg{ padding-bottom: 20px; padding-top: 20px;}
/********Team Members Details POP-UP******/
.tm-msg{background-color: transparent; font-family:helvetica,sans-serif,arial; text-align: left; padding: 0 0;}
.tm-info p{ text-align: justify; }
.tm-image img{ min-width: 160px; max-height: 180px; margin-bottom: 10px; }
p.tm-title{ margin:2px 0 0 0;}
p.tm-name{ margin-bottom: 0;}
div.tm-pdesc{max-height: 170px; overflow-y: scroll; font-size: 10px; line-height: 15px; color: #666666; font-weight: bold; padding-right: 15px;}
div.tm-pdesc::-webkit-scrollbar{
	width: 2px;
	background-color: #bbb;
}
div.tm-pdesc::-webkit-scrollbar-thumb{
	background-color: #000;
}


.h-f{bottom: 0;}

/*******Pages COMMON*****/
.brand-btn:hover, a.my-profile:hover{color: #fff;}
/********Mobile CSS**********/
@media screen and (min-width: 768px) and (max-width: 959px) {	
	.container { width: 768px; }	
	.team-member{width: 30%;}
	.header .logo{width: 220px;}
	.footer .menu,.footer .copyright{width: 100%; text-align: center;}	
	.product-box{width:124px !important; margin-left: 30px !important;}
	.wishlist .product-box, .purchased .product-box{width: 140px !important; margin: 0 20px 20px 15px !important;}
	.content-container{color: red;}
}

@media screen and (max-width: 767px) {
		.one.columns,	
		.two.columns,
		.three.columns,		
    	.four.columns,		
    	.five.columns,		
    	.six.columns,
    	.seven.columns,
    	.eight.columns, 
    	.nine.columns,
    	.ten.columns,	
        .container { width: 100%; }
        iframe{width: 100%;}
        .container .column, .container .columns{padding: 0 25px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;  -o-box-sizing:border-box;  box-sizing:border-box;}
        .header .logo{width: 200px; padding-top: 30px;}
        .header .menu{margin: 0; display: none; width: 100%;}
        .header .menu ul{width: 100%;}
        .header .menu li {text-align: center; width: 100%; }
        /*.header .menu .submenu{display: block; position: relative; background-color: transparent; border: none;}
        .header .menu .submenu li a{color:#fff;}*/
        #menu-switcher{display: block;}
        .team-member{width: 50%;}
        .team-member .name{word-wrap:break-word;}
        .footer .menu,.footer .copyright{width: 100%; text-align: center;}
        #your-style .ui-selectable,#suite-frequency .ui-selectable{text-align: center;}
        ul.product-type li{margin-right: 20px;}
        .im-request{padding: 8px 5px !important;}
        .side-filter{margin-bottom: 10px;}
        .product-box{margin: 10px 0 10px 0 !important; width: 100% !important;}
        .sort-block{position: relative !important; top:0 !important;}
        .product-breadcrumb{margin-left: 25px;}
        .content-container{color: yellow;}
}


/******CLOSET*******/
	/****Filters****/
	.product-filter-menu{ border-top: 1px solid #D9D9D9; }
	.product-filter-menu ul{ margin: 0; padding: 0; font-family: 'Droid Serif',serif; text-transform: uppercase; }
	.product-filter-menu .toggle-tab{ margin-bottom: 0; border-bottom: 1px solid #D9D9D9; color: #8E7846; }
	.product-filter-menu .toggle-tab span.filter-block{ display: block; padding: 5px 0 5px 4px; cursor:  pointer; background: url('../img/bg_product_filter.png') no-repeat 97% center; }
	.product-filter-menu .product-categories .hover-link{ background-color: #8f7948; color: #fff !important; }
	.product-filter-menu .active-link-parent > a, .cat-filter-selected > a{ font-weight: bold; color: #8E7846 !important; text-decoration: underline !important; }
	.product-filter-menu .active-link{ font-weight: bold; color: #8E7846 !important; text-decoration: underline !important; }
	.product-filter-menu .active-link li a{ color: #9A9A9A !important; }
	.product-filter-menu .selected{ color: #8E7846; }
	.product-filter-menu .selected span{ border-bottom: 1px solid #D9D9D9; }
	.cuff-left { position: absolute; left: -23px; z-index: 1; border-bottom: none !important; width: 14px; }
	.cuff-right { position: absolute; right: 0; z-index: 1; border-bottom: none !important; width: 14px; }
	.product-filter-menu .toggle-body{ margin: 10px 0 7px 8px; }
	.product-filter-menu .toggle-body a{ color: #666; font-size: 13px; padding: 0 1px; }
	.product-filter-menu .toggle-body li{ text-decoration: none; color: #666; font-size: 13px; position: relative; }
	.product-categories .highlighted-cat > a { font-weight: bold; }
	.toggle-body .cat-filter-selected .filter-cross{ width: 10px; height: 10px; position: absolute; right: 0px; top: 4px; background: url('../img/cross_menue.png') no-repeat center; z-index: 10; cursor: pointer; border: none; }
	.product-categories .product-subcategories{ margin-top: 5px; margin-left: 10px; }
	.product-categories .product-subcategories a{ font-size: 11px; }
	.product-filter-menu input[type=checkbox]{ display: inline; width: auto; border: none; padding: 0; margin-right: 5px; }
	/*****Products Boxes****/
	.product-box{display: inline-block; margin:0 0 20px 35px; vertical-align: top; width: 160px;}
	.product-listing .product-block{ position: relative; }
	.brand-filter li, .color-filter li{ cursor: pointer; }
	.get-related-products{ display: block; position: absolute; right: -11px; top: 30px; z-index: 10; height: 26px; width: 26px; background: url('../img/arrow.png') no-repeat center center; }
	.product-listing .product-list-image{ height: 216px; border: 1px solid #797979; background-color: #FFFFFF; line-height: 215px;
	    text-align: center; background: url('../img/loading.gif') no-repeat center center; }
	    .product-listing .product-list-image img { vertical-align: middle; max-width: 158px; max-height: 216px; background-color: white; }
	.lookbooks-block{ border: 2px solid #B19861 !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
	.highlight-lookbook{ position: absolute; top: 0px; left: 0px; width: 34px; height: 34px; background: url('../img/culflink_lookbook.png') no-repeat center; z-index: 6; }
	.fadein-image{ opacity: 0; }
	.mini-product-details{ position: absolute; bottom: 15px; text-align: center; color: #8F7948; line-height: normal; font-weight: bold; text-transform: uppercase; padding: 0 3px; width: 100%; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
	.mini-product-details span{ display: block; margin-top: 4px; font-size:12px; color:#EEE; text-transform: capitalize; }
	.product-list-links { text-align: center; padding-top: 4px; }
	.product-list-links a { display: inline-block; text-decoration: none; }
	.btn-buy{ background-color: #AF9A59; color: #fff !important; text-transform: uppercase; padding: 1px 18px; margin: 0 10px; }
	a.btn-buy:hover{ background-color: #8F7948; }
	.thumbs-up{ height: 15px; width: 15px; background: url('../img/thumbs_up_off.png') no-repeat 0 center; }
	.thumbs-up.liked{background: url('../img/thumbs_up_on.png') no-repeat 0 center; }
	.thumbs-down{ height: 15px; width: 15px; background: url('../img/thumbs_down_off.png') no-repeat 0 center; }
	.thumbs-down.disliked{ background: url('../img/thumbs_down_on.png') no-repeat 0 center; }
	
	/*****Sort Block****/
	.sort-block { position: absolute; right: 25px; top: 47px; text-align: right; margin: 4px 0 4px 0; font-size: 11px; }
	.sort-block a{text-decoration: underline;}
	/*****Pagination****/
	.pagination { text-align: center; margin:30px 0; }
	.pagination span { margin-left: 25px; display: inline-block; }
	.pagination span a { color: #AF9A59; font-weight: bold; text-decoration: none; display: inline-block; width: 100%; height: 100%; }
	.pagination span.prev.disabled, .pagination span.next.disabled { cursor: pointer; }
	.pagination span.prev { background: url('../img/arrow-left.png') no-repeat 0 center; width: 26px; height: 26px; vertical-align: middle; color: transparent; }
	.pagination span.prev a{color: transparent;}
	.pagination span.next { background: url('../img/arrow-right.png') no-repeat 0 center; width: 26px !important; height: 26px !important; vertical-align: middle; color: transparent; }
	.pagination span.next a{color: transparent;}
	.pagination span:first-of-type, .pagination span:last-of-type { margin-top: 0; }
		/*#outfit-box .product-categories li a{ display: block; }
	#outfit-box .product-categories{ margin-left: 0; }*/
	/*****My Closet****/
	.pagination.my-closet span.prev.disabled, .pagination.my-closet span.next.disabled { opacity: 0; }
	.mycloset-tabs{margin-bottom: 30px;}
	.wishlist .product-box, .purchased .product-box{margin: 0 10px 20px 15px;}
	.remove-product { display: block; position: absolute; right: 5px; top: 5px; z-index: 250; height: 20px; width: 20px; text-decoration: none; background: url('../img/cross_liked_items.png') no-repeat center center; }
	/*****Product Details Page***/
	p.product-breadcrumb { color: #666; margin-bottom: 5px !important; text-transform: uppercase; font-size: 12px; }
	.product-default-image{ border: 1px solid #ccc; background-color: #FFFFFF; height: 507px; text-align: center; line-height: 506px; margin-bottom: 10px; overflow: hidden; }
	.product-default-image img{ max-width: 374px; max-height: 506px; vertical-align: middle; }
	.product-actions{margin-top: 25px;}
	.product-thumbs{ float: right; width: 45%; text-align: right; }
	.product-thumbs a{ display: inline-block; margin-left: 5px; height: 36px; width: 36px; }
	.product-thumbs .thumbs-up{ background: url('../img/thumbs_big.png') no-repeat 0 0; }
	.product-thumbs .thumbs-up.liked{ background: url('../img/thumbs_big.png') no-repeat 0 100%; }
	.product-thumbs .thumbs-down{ margin-right: 19px; background: url('../img/thumbs_big.png') no-repeat 100% 0; }
	.product-thumbs .thumbs-down.disliked{ background: url('../img/thumbs_big.png') no-repeat 100% 100%; }
	.product-actions .product-share{ float:left; width: 45%; font-size: 16px; color: #B29957; margin: 0; position: absolute;}
	.product-actions .product-share span{ display: inline-block; height: 36px; line-height: 36px; }
	.product-actions .product-share a{ width: 36px; height: 36px; text-decoration: none; display: inline-block; position: absolute; margin-left: 5px; }
	#lnk-fb-share{ background: url('../img/share_icons.png') no-repeat 0 0;	}
	#lnk-fb-share:hover{ background: url('../img/share_icons.png') no-repeat 0 100%; }
	#lnk-email{ margin-left: 45px; background: url('../img/share_icons.png') no-repeat 100% 0; }
	#lnk-email:hover{ background: url('../img/share_icons.png') no-repeat 100% 100%; }
	.product-description{font-family:'Conv_Novecento-Book',Sans-Serif;}
	.product-description .product-name { margin-top: 0; margin-bottom: 5px; color: #b29957; font-size: 26px; line-height: 28px; font-weight: 700;}
	.product-description h5 { margin-top: 0; margin-bottom: 0; color: #ad9c56; font-size: 18px; font-weight: normal; }
	.product-description h5.brand a { color: #ad9c56; text-decoration: none; }
	.product-description h5.brand a:hover {text-decoration: underline;}
	.product-description h5.product-details { margin-top: 10px; }
	.product-description p.description { color: #777; font-size: 14px; padding-bottom: 0; line-height: 20px; margin-bottom: 10px; font-family: 'Droid Serif',serif;}	
	.product-swatches { margin-bottom: 10px; overflow: hidden; }
	.thumb-cont { padding-bottom: 3px; border-bottom: 3px solid #fff; margin-right: 12px; margin-bottom: 12px; float: left; width: 26px; height: 26px; }
	.thumb-cont.color-selected { border-bottom: 3px solid #b29957; }
	.color-thumbnails { width: 24px; height: 24px; border: 1px solid #d0d0d0; }
	.color-selected .color-thumbnails { border: 1px solid #b29957; }
	.color-thumbnails a { display: block; width: 12px; height: 24px; position: relative;}
	a.color-one{float: left;}
	a.color-two{float: right;}
	.product-description label { color: #AD9C56; text-transform: capitalize; font-size: 16px;}
	.product-description label select { color: #555; font-size: 14px; text-align: center; margin-left: 15px; border: 1px solid #d0d0d0; border-radius: 2px; background-color: #ffffff; padding: 5px; line-height: 25px; }
	.add-to-cart{margin-top: 20px;}

/*****Cart and Payment***/
table.cart-checkout { width:100%; }
table.cart-checkout select { border: 1px solid #D9D9D9; color: #444444; padding: 5px 5px; width:80%; line-height: 25px; }
.cart-checkout tbody td.product-thumb { vertical-align: top; padding-right: 15px;  }
.cart-checkout tbody td.product-thumb img { width:45px; max-height: 60px; vertical-align: middle; }
.cart-checkout th { color: #C9C9C9; padding-bottom:5px; border-bottom: 1px solid #dedede; text-transform: uppercase; } 
.cart-checkout tbody td { padding:15px 0; border-bottom: 1px solid #dedede; }
table.cart-checkout tbody tr td:last-of-type { color:#B29957; font-weight: bold; }
.cart-checkout tbody td h6{ font-size: 16px; color:#B29957; margin-bottom: 4px; font-weight: bold; text-transform: uppercase;}
.cart-checkout tbody td h6 a, .cart-checkout tbody td h6 a:visited{ color: #B29957; text-decoration: none; }
.cart-checkout tbody tr.last td { color:#B29957; text-transform: uppercase; padding:10px 0 ; border-bottom: 1px solid #ececec; }
.cart-thumbnail{ width:45px; height: 61px; line-height: 60px; vertical-align: middle; border: 1px solid #D7CDC1; }
.remove-cart-item img{padding-right: 15px;}
.cart-checkout small { display:block; }
.mycart .link-btn{ width: 28%; text-align: center; }
.mycart { margin-top: 40px; }
.mycart button { color: white; font-family: 'Droid Serif',serif; width: 200px; height: 40px; border:none; margin-right: 40px; } 
.mycart button:last-of-type { margin-right: 0; }
.description { color: #B3B3B3; font-size: 11px; padding-bottom: 2px; line-height: 14px; }
.divider { border-top: 1px solid #DEDEDE; margin: 0 auto; width: 90%; }
.card-expiration .srs-form{float: left; margin:0 2%;}
.card-expiration .srs-form:last-child{margin-right: 0;}
.card-expiration div.input > div.input{margin-bottom: 0;}
.payment .page-heading .sub{margin: 15px auto;}
.card-strip{margin-bottom: 15px;}
.contact-container{margin-bottom: 8px;}
#confirm-payment{padding-right: 40px; padding-left: 40px; margin-top: 30px;}
.payment small { color: #AF9A59; }