

/*  changes on 07-11-2013 ----   */
div#brands ol.brands-logo li{
    margin-top:30px !important;
}

div.brands-cont .submit{
    margin-top: 0px!important;
}
.preferences #selectable li{
    height: 280px;
}

/*---- sign-up-drop-down ---*/
#sign-up-drop-down{
    width: 100%;
    background: #F2F2F2 url('../img/srs_viewing_done.png') no-repeat center;
    height: 220px;
    /*margin:124px 0 0 0;*/
    padding: 0px;
    display:none;
    text-transform: uppercase;
}
#sign-up-drop-down p{
    color:#222;
    text-align: center;
    padding-top: 40px;
    font-size: 35px;
}
#sign-up-drop-down p span{
    font-weight: bolder;
}
#sign-up-drop-down .initial-module{
    text-align: center;
}
.initial-module .join_button{
    font-size: 15px;
    padding: 10px 25px;
    background-color: #222;
    border-radius:2px;
    color:#FFFFFF;
    margin-top: 10px;

}
.initial-module .show-login-form{
    color: #222;
    display: block;
    margin-top: 25px;
    text-align: center;
    width: auto;
    padding: 0 !important;
    font-size: 15px !important;
    font-weight: bold;
}
#sign-up-drop-down .close{
    float: right;
    font-size: 30px;
    padding-top: 10px;
    position: absolute;
    right: 15px;
}
#sign-up-drop-down .close a{
    color: #222;
    text-decoration: none;
}
.initial-module a, .initial-module a:visited, .initial-module a:active{
    outline: 0;
    border: 0;
}
.content.home {

}
