

/*  changes on 07-11-2013 ----   */
div#brands ol.brands-logo li{
    margin-top:30px !important;
}

div.brands-cont .submit{
    margin-top: 0px!important;
}
.preferences #selectable li{
    height: 280px;
}

/*---- sign-up-drop-down ---*/
#sign-up-drop-down{
    width: 100%;
    background: #333 url('../img/srs_viewing_done.png') no-repeat center;
    background-color: #333333;
    height: 232px;
    /*margin:124px 0 0 0;*/
    padding: 0px;
    display:none;
}
#sign-up-drop-down p{
    color:#DDDDDD;
    text-align: center;
    padding-top: 40px;
    font-size: 24px;
    font-family: 'Droid Serif',serif;
}
#sign-up-drop-down .initial-module{
    text-align: center;
}
.initial-module .join_button{
    font-size: 15px;
    padding: 15px 25px;
    background-color: #8F7948/*#D26D51*/;
    border-bottom-color: #BF5031;
    border-radius:2px;
    color:#FFFFFF;
    margin-top: 10px;

}
.initial-module .show-login-form{
    color: #ffffff;
    display: block;
    margin-top: 25px;
    text-align: center;
    width: auto;
    padding: 0 !important;
    font-size: 14px !important;
}
#sign-up-drop-down .close{
    float: right;
    font-size: 22px;
    padding-top: 10px;
    position: absolute;
    right: 15px;
}
#sign-up-drop-down .close a{
    color: #F1F1F1;
    text-decoration: none;
}
.initial-module a, .initial-module a:visited, .initial-module a:active{
    outline: 0;
    border: 0;
}
.content.home {

}
