.outfit-modal{
    height: 700px;
}
.outfit-modal-inside{  
}
.btn-outfit{
    background-color: #AF9A59;
    color: #fff !important;
    text-transform: uppercase;
    padding: 1px 3px;
    font-size: 11px;
}
.btn-outfit:hover{
    background-color: #8F7948;
}
.btn-user-closet{
    float:left;
}
.btn-srs-closet{
    float:right;
}
.outfit-close, .srs-closet-close, .user-closet-close{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 9px;
    right: 7px;
    display: block;
    background: url('../img/cross_menue.png') no-repeat center center;
}
.user-closet-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}
.srs-closet-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}

.liked-list-cont .product-listing-box, .purchased-list-cont .product-listing-box{
    overflow-y: scroll;
    height: 460px;
}

.btn-outfit-cont{
    margin-right: 10px;
    margin-top: 5px;
}

.user-closet-list-cont .row{
    margin-bottom: 10px;
}